.length{
    text-align: right;
    margin: 10px 40px;
    background-color: gray;
    color: white;
    padding-right: 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid rgb(8, 8, 119);
    border-radius: 2px;
}